<div class="slideshow-container">
  <% size = @projects.size %>
  <% @projects.each_with_index do |project, i| %>
    <div class="mySlides fade">
      <!--<div class="numbertext"><%= "#{i+1}/#{size}"%></div>-->
      <%= link_to (image_tag(project.image.exists? ? project.image.url : 'zelda.jpg', style: 'width:100%;')), project %>
      <div class="slide-text"><%= project.title%></div>
    </div>
  <% end %>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <% [*1...@projects.size+1].each do |i| %>
  <span class="dot" onclick="currentSlide(<%=i%>)"></span>
  <% end %>
</div>
