<h1>Donaciones de <%= @user.full_name %></h1>
<% @donations.each do |donation| %>
<h3><%=link_to donation.project.title, project_path(donation.project) %>
  <%= @user == current_user ? ' - '+number_to_currency(donation.ammount, unit: "CLP$", delimiter: ".", format: "%u%n") : '' %>
</h3>
<h5>De <strong><%= donation.project.user.full_name %></h5>
<% end %>
