<div id="rcorners1">
  <h3 class="project-title"><%=link_to project.title, project_path(project) %> </h3>
  <span class="author-info">
    <strong><u> <%= "#{project.user.full_name}" %> </u></strong>
  </span>
</div>
