  <h1>Proyectos: <%= @projects.size %></h1>
  <ol class="container">
    <% @projects.each do |project| %>
      <%= render partial: 'projects/preview', locals: { project: project, mines: @mines } %>
    <% end %>
  </ol>
