  <h1>Proyectos: <%= @projects.size %></h1>
  <ol class="container">
    <% @projects.each do |project| %>
      <%= render partial: 'projects/preview', locals: { project: project, mines: @mines } %>
    <% end %>
  </ol>
  <%= link_to 'Nuevo Proyecto', current_user ? new_user_project_path(current_user.id) : new_session_path, class: 'new-button' %>
