<div class='default-form'>
  <h1>Editar Categoría</h1>
  <%= render 'form', category: @category %>
</div>
<%= link_to 'Ver', admin_category_path(@category) %> |
<%= link_to 'Volver', admin_categories_path %>
