// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  text-align: center;
}
.rcorners1 {
    margin: 30px;
    border-radius: 10px;
    background: rgba(83,255,190, 0.4);
    padding: 20px;
    padding-left: 1%;
    width: 25%;
    height: 400px;
    vertical-align: top;
    display: inline-block;
    img {
      height: 40%;
      width: auto;
      max-width: inherit;
    }
    .project-title {
      text-align: center;
      a {
        color: #b24028;
      }
      :visited {
        color: #b24028;
      }
      a:hover {
        background-color: rgba(0,0,0,0);
      }
    }
    .author-info {
      float: right;
      :visited {
        color: inherit;
      }
      a:hover {
        color: inherit;
        background-color: rgba(0,0,0,0);
      }
    }
}

.project-container {
  width: 100%;
  margin-bottom: 20px;
}

.project-content {
  padding: 50px;
  vertical-align: top;
  width: 70%;
  display: inline-block;
  align: center;
  border-radius: 30px;
  background-color: rgba(83,255,190, 0.4);
  margin-right: 20px;
  h1 {
    color: #b24028;
  }
  color: #b24028;
}

.project-stats {
  width: 25%;
  height: inherit;
  display: inline-block;
  border-radius: 30px;
  background-color: rgba(83,255,190, 0.4);
  margin-left: 20px;
  padding: 20px;
}

div.comments {
  border-top: black thin solid;
}

.comments > p {
  display: block;
  width: 30%;
  word-wrap: break-word;
}

img.project-view {
  width: inherit;
}
