// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.form {
  width: 80%;
}

.form-fields {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

.avatar-display {
  width: auto;
  display: inline-block;
  vertical-align: top;
}

img.edit-avatar {
  width: 150px;
  height: auto;
}
