// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.form {
  width: 80%;
}

.user-profile {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background: rgba(83,255,190, 0.4);
  padding: 25px;
  border-radius: 10px;
  .avatar-display {
    display: table;
    margin: 0 auto;
  }
  .user-info {
    width: 50%;
    vertical-align: top;
    display: inline-block;
  }
  .user-participation {
    width: auto;
    vertical-align: top;
    display: inline-block;
  }
}

.form-fields {
  width: 55%;
  display: inline-block;
  vertical-align: top;
}

.avatar-display {
  width: auto;
  display: inline-block;
  vertical-align: top;
}

img.edit-avatar {
  width: 150px;
  height: auto;
}
